div
{
	outline:4px black solid;
	margin:auto;
	width:800px;
	height:600px;
}

header
{
	font-size:180%;
	text-align:center;
	background-color:lightgrey;
	text-align:center;
	float:left;
	width:100%;
	height:50px;
}

footer
{
	height:50px;
	width:100%;
	float:left;
	clear:both;
	background-color:lightgrey;
	outline:1px black solid;
	text-align:center;
}

menu
{
	float:left;
	clear:both;
	height:500px;
	width:120px;
	background-color:white;
	margin:0;
	outline:1px black solid;
	font-size:120%;
}



main
{
	float:left;
	width:640px;
	height:500px;
	background-color:white;
	margin:0;
	outline:1px black solid;
	text-align:center;
	color:black;
	font-size:110%;
}

p
{
	font-size:130%;
}